.col-xs-4
  = render "layouts/twitter"
.col-xs-8
  .panel.panel-default
    .panel-heading
      NEWS FEED
    .panel-body
      = render "layouts/carousel"
    .panel-body
      = render "layouts/media"

