.header
  nav.navbar.navbar-default
    margin-bottom: 0px
    .container-fluid
      .navbar-header

      span
        button.navbar-toggle
          span.sr-only
          span.icon-bar
        a.navbar-brand
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle
              b.caret
            ul.dropdown-menu
              li
                a
              li.divider
              li
                a
        form.navbar-form.navbar-right
          .form-group
            input.form-control
          button.btn.btn-primary
.header-content
  background-image: url("/assets/images.jpg")
  background-position: cover
  .container
    .center
.sub-header
  nav.navbar.navbar-default
    .container-fluid.container
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a
          li
            a
