<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="assets/run.JPG" style="height: 180px; width: 180px;">
  </a>
  <div class="media-body">
    <h4 class="media-heading" style="margin-top: 5px; border-bottom: 2px dotted darkorange; padding-bottom: 5px;">春の早朝ジョギング大会が行われました！！</h4>
    <div class="well"  style="padding: 5px; margin-top: 15px; margin-bottom: 5px; background-color: rgb(252,252,240); border: solid 1px orange;">
      そろそろ冬が終わりを知らせるかのような、心地よい天気が続いています。
      みなさんの中には、この冬に蓄えてしまった皮下脂肪を消費したい方もいるのではないでしょうか。
      そんな方にオススメの、ジョギング大会が先日行われました！！
      ジョギング大会といっても、初心者の方からスポーツマンの方、子供から大人まで楽しくわいわい走ろうという企画です。
      私も参加しましたが、途中でリタイア・・・。来年は完走できるよう頑張りたいです！！！
    </div>
  </div>
</div>